.header {
  position: absolute; /* Overlay on top of carousel */
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  
  align-items: center;
 
  color: white;
  z-index: 10; /* Ensure it overlays the carousel */
}


.logo-img {
  height:10vh;
  width: 20vw;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  font-weight: 500;
}

.nav-link:hover {
  color: #f0f0f0;
}
